
 /* Override */

body {
  background-color: black;
}
html *
{
   color: white ;
   font-family: 'Trebuchet MS'!important;
}
textarea{
  color: black;
}
input{
  color: black;
}

h1 {
  margin-left: 700px;
  display: inline-block;
}
p {
  color: black;

}


/* Classes */

/* Containers */
/* --------------------------------------------------------------------- */

.TitleContainer{
  padding: 10px;
  margin-bottom: 10px;
  display: inline;
}
.TitleContainer img{
  width: 7%;
  height: auto;
}
.MainContainer{
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  margin-left: 600px;
  margin-right: 600px;
  padding-bottom: 200px;
  border-radius: 5px;
}
.FindOthersContainer{
  position: absolute;
  bottom: 300px;
  right: 100px;

  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
  border-radius: 5px;

}
.actionShot{
  position: absolute;
  bottom: 650px;
  left: 250px;
  height: 100px;
  width: 300px;
  z-index: 1;
  color: white;

}




/* --------------------------------------------------------------------- */
.navBar{
  background-color: rgba(210, 210, 210, 1);
}
  a.button {
    appearance: button;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
  color: white;
  background-color: rgba(148, 145, 145, 1);
  border-radius: 5px;
  font-size: 20px;
}
a.button:visited {
color: white;
}
a.button:hover {
  background-color: #d0d0d0;
}
a.button:active {
  background-color: #a7a5a5;
}
.navBar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.FindOthersContainer{
  max-width: 400px;
  max-height: 2000px;
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  
}
.FindOthersContainer input{
  background-color: white ;
  width: 100%;
  height: 30px;
  font-size: 16px;
}
.FindOthersContainer form{
  background-color: white;
  height: 100%;
  width: 100%;
}
.FindOthersContainer textarea{
  background-color: white;
  width: 100%;
  height: 150px;
  resize: none;
}
.FindOthersContainer input[type=submit]{
  background-color: white;
  width: 100%;
  font-size: 20px;
  
}